.header {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}



.header h1 {
  margin: 0;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

